/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');
/* reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	padding: 0;
	margin: 0;
	border: 0;
	font: "Roboto Condensed", sans-serif;
	box-sizing: border-box;
	vertical-align: baseline;
	scroll-behavior: smooth;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	color: #131415;
	font-size: 16px;
	font-family: "Roboto Condensed", sans-serif;
	line-height: 1.6;
	overflow-x: hidden;
	background-color: #fff;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
	display: block;
	text-decoration: none;
}
img {
	display: block;
	height: auto;
	max-width: 100%;
}
h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
}

/* common style
-------------------------------------------------------- */
section,
.section__style01 {
	padding: 80px 0;
}
.alt__bg {
	background-color: #F0F6FF;
}
.container {
	margin: 0 auto;
	max-width: 1400px;
	width: 90%;
}
.inner {
	margin: 0 auto;
	max-width: 1140px;
	width: 95%;
}
.button {
	position: relative;
	padding: 13px 10px 11px;
	margin-top: 30px;
	max-width: 180px;
	width: 100%;
	color: #00C3FF;
	text-align: center;
	text-transform: uppercase;
	border: 1px solid #00C3FF;
	background-color: #fff;
	box-sizing: border-box;
	box-shadow: 5px 8px 30px 2px rgba(42, 67, 113, 0.15);
	border-radius: 50px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	-ms-border-radius: 50px;
	-o-border-radius: 50px;
	transition: all .3s ease;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
}
.button_style02 {
	color: #fff;
	background-color: #00C3FF;
}
.btn_center {
	margin-left: auto;
	margin-right: auto;
}
.button:hover {
	color: #fff;
	background-color: #00C3FF;
	box-shadow: none;
}
.button_style02:hover {
	color: #00C3FF;
	background-color: #fff;
}
p {
	font-family: 'Red Hat Text', sans-serif;
}
.clearfix::after {
	content: '';
	display: block;
	clear: both;
}
.main__title {
	margin-bottom: 20px;
	font-size: 35px;
	text-align: center;
	line-height: 1.2;
}
.main__title .title__small {
	position: relative;
	display: inline-block;
	padding: 0 15px;
	color: #B4B4B4;
	font-size: 16px;
	text-transform: uppercase;
}
.main__title span:last-child {
	display: block;
}
.main__title .title__small::before,
.main__title .title__small::after {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	height: 5px;
	width: 5px;
	background-color: #B4B4B4;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
}
.main__title .title__small::before {
	left: 0;
}
.main__title .title__small::after {
	right: 0;
}
.title__style-1 {
	text-align: left;
}

/* header
-------------------------------------------------------- */
header {
	position: absolute;
	top: 0;
	width: 100%;
	border-bottom: 1px solid rgba(255, 255, 255, .3);
	z-index: 9;
}
header .container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
header .logo {
	max-width: 157px;
	width: 100%;
}
header nav ul li {
	margin: 0 25px;
	float: left;
}
header nav ul li:first-child {
	margin-left: 0;
}
header nav ul li:last-child {
	margin-right: 0;
}
header nav ul li a {
	position: relative;
	padding: 42px 0;
	color: #fff;
	font-weight: 600;
	font-family: "Red Hat Text", sans-serif;
	text-transform: uppercase;
}
header nav ul li a::before {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	bottom: -2px;
	height: 3px;
	width: 0%;
	background-color: #00C3FF;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	transition: all .3s ease;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
}
header nav ul li a:hover::before,
header nav ul li.active a::before {
	width: 100%;
}
header .button {
	margin: 0;
	border: 0;
}
header .nav__wrap .open__nav,
header .nav__wrap nav ul li.contact {
	display: none;
}

/* hero
-------------------------------------------------------- */
.hero {
	position: relative;
	padding-top: 110px;
	background: url(../images/hero__bg.png) no-repeat bottom center / cover;
}
.hero .container {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 80px 0 210px;
	overflow: hidden;
}
.hero .container .scrollDown {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 40px;
	color: #fff;
	font-size: 10px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
}
.hero .container .scrollDown span {
	position: relative;
}
.hero .container .scrollDown span::before {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	bottom: -42px;
	margin: auto;
	height: 30px;
	width: 1px;
	background-color: #fff;
	animation: scrollLine 1s ease infinite;
	-webkit-animation: scrollLine 1s ease infinite;
}
.hero .container .hero__image {
	max-width: 750px;
	width: 54%;
	order: 2;
}
.hero .container .hero__content {
	color: #fff;
	overflow: hidden;
}
.hero .container .hero__content .hero__title {
	font-size: 65px;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 1.3;
}
.hero .container .hero__content .hero_logo {
	margin-bottom: 50px;
	max-width: 279px;
	width: 100%;
}
.hero .container .hero__content p {
	font-size: 20px;
	text-transform: uppercase;
}
.hero .container .hero__content .button {
	border: 0;
}
@keyframes scrollLine {
	0% {
		bottom: -42px;
	}
	50% {
		bottom: -50px;
	}
	100% {
		bottom: -42px;
	}
}

/* services
-------------------------------------------------------- */
#services {
	position: relative;
	padding-bottom: 20px;
}
#services::before {
	content: '';
	position: absolute;
	top: -120px;
	left: 0;
	right: 0;
	height: 523px;
	width: 100%;
	background: url(../images/services__bg.png) no-repeat center bottom / cover;
	z-index: -1;
}
#services .services__list li {
	position: relative;
	padding: 50px 20px;
	margin-right: 2.9%;
	float: left;
	max-width: 260px;
	width: 22.8%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-color: #fff;
	box-sizing: border-box;
	box-shadow: 5px 8px 30px 2px rgba(42, 67, 113, 0.15);
	border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	-ms-border-radius: 15px;
	-o-border-radius: 15px;
}
#services .services__list li:last-child {
	margin-right: 0;
}
#services .services__list li:nth-child(even) {
	margin-top: 50px;
}
#services .services__list li#webdev {
	background-image: url(../images/webdev__bg.png);
}
#services .services__list li#webdesign {
	background-image: url(../images/webdesign__bg.png);
}
#services .services__list li#optimization {
	background-image: url(../images/optimization__bg.png);
}
#services .services__list li#marketing {
	background-image: url(../images/marketing__bg.png);
}
#services .services__list li .image__wrap {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto 20px;
	height: 75px;
	width: 75px;
	background-color: #0A2647;
	box-shadow: 5px 2px 15px 2px rgba(42, 67, 113, 0.2);
	border-radius: 50px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	-ms-border-radius: 50px;
	-o-border-radius: 50px;
}
#services .services__list li .image__wrap img {
	width: 40px;
}
#services .services__list li .services__title {
	margin-bottom: 5px;
	text-transform: uppercase;
	text-align: center;
}
#services .services__list li p {
	font-size: 14px;
	word-break: break-all;
}

/* about
-------------------------------------------------------- */
#about .about__wrap {
	display: flex;
	align-items: flex-start;
}
#about .about__wrap img {
	order: 2;
	margin-left: 5.5%;
	max-width: 545px;
	width: 48%;
}

/* portfolio
-------------------------------------------------------- */
#portfolio {
	position: relative;
	padding: 160px 0;
}
#portfolio::before,
#portfolio::after {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	height: 84px;
	background-size: cover;
	background-repeat: no-repeat;
}
#portfolio::before {
	top: 0;
	background-image: url(../images/portfolio__bg01.png);
	background-position: top center;
}
#portfolio::after {
	bottom: 0;
	background-image: url(../images/portfolio__bg02.png);
	background-position: bottom center;
}
.filter__buttons {
	display: flex;
	justify-content: center;
	margin-bottom: 30px;
}
.filter__buttons li {
	margin: 0 25px;
}
.filter__buttons li a {
	display: block;
	color: #131415;
	text-transform: uppercase;
	transition: all .3s ease;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
}
.filter__buttons li.active a,
.filter__buttons li a:hover {
	color: #00C3FF;
}
.portfolio__wrap {
	display: flex;
	flex-wrap: wrap;
}
.portfolio__wrap .portfolio__item {
	margin: 0 2.6% 2.6% 0;
	max-width: 360px;
	width: 31.6%;
}
.portfolio__wrap .portfolio__item:nth-child(3n) {
	margin-right: 0;
}
.portfolio__wrap .portfolio__item a {
	position: relative;
	display: block;
	font-weight: bold;
	text-transform: uppercase;
	overflow: hidden;
	border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	-ms-border-radius: 15px;
	-o-border-radius: 15px;
}
.portfolio__wrap .portfolio__item a::before,
.portfolio__wrap .portfolio__item a img,
.portfolio__wrap .portfolio__item a .project__info {
	transition: all .3s ease;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
}
.portfolio__wrap .portfolio__item a::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #131415;
	opacity: 0;
	z-index: 1;
}
.portfolio__wrap .portfolio__item a img {
	filter: saturate(0);
	-webkit-filter: saturate(0);
}
.portfolio__wrap .portfolio__item a .project__info {
	position: absolute;
	left: -100%;
	bottom: 30px;
	padding: 20px;
	max-width: 230px;
	width: 90%;
	line-height: 1.1;
	background: url(../images/portfolio-info__bg01.png) no-repeat bottom right / 70px;
	background-color: #fff;
	box-sizing: border-box;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	z-index: 9;
}
.portfolio__wrap .portfolio__item a .project__info .project__title {
	color: #131415;
	font-size: 18px;
}
.portfolio__wrap .portfolio__item a .project__info .project__type {
	position: relative;
	color:#00C3FF;
	font-size: 12px;
}
.portfolio__wrap .portfolio__item a .project__info .project__type::before {
	content: '';
	position: absolute;
	top: 0;
	left: -20px;
	bottom: 1px;
	margin: auto;
	height: 1px;
	width: 10px;
	background-color: #00C3FF;
}
.portfolio__wrap .portfolio__item a:hover img {
	filter: saturate(1);
	-webkit-filter: saturate(1);
}
.portfolio__wrap .portfolio__item a:hover::before {
	opacity: .3;
}
.portfolio__wrap .portfolio__item a:hover .project__info {
	left: 0;
}

/* team
-------------------------------------------------------- */
#team .team__wrap .team__item {
	position: relative;
	margin: 0 1.8% 0 0;
	float: left;
	width: 18.56%;
}
#team .team__wrap .team__item:nth-child(2),
#team .team__wrap .team__item:nth-child(4) {
	margin-top: 40px;
}
#team .team__wrap .team__item:nth-child(3) {
	margin-top: 80px;
}
#team .team__wrap .team__item:last-child {
	margin-right: 0;
}
#team .team__wrap .team__item .team__image img {
	width: 100%;
	border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	-ms-border-radius: 15px;
	-o-border-radius: 15px;
}
#team .team__wrap .team__item .team__info {
	position: absolute;
	left: 0;
	right: 0;
	bottom: -70px;
	padding: 25px 20px 32px;
	margin: 0 auto;
	width: 85%;
	text-align: center;
	line-height: 1.3;
	box-shadow: 5px 8px 30px 2px rgba(42, 67, 113, 0.15);
	background-color: #fff;
	box-sizing: border-box;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
}
#team .team__wrap .team__item .team__info .team__name {
	font-size: 25px;
	text-transform: capitalize;
}
#team .team__wrap .team__item .team__info .team__pos {
	color: #00C3FF;
	font-size: 14px;
	text-transform: uppercase;
}
#team .team__wrap .team__item .team__info .social-links__wrap {
	position: absolute;
	left: 0;
	right: 0;
	bottom: -12px;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: center;
}
#team .team__wrap .team__item .team__info .social-links__wrap .button__social {
	position: relative;
	margin-left: 10px;
	width: 24px;
	height: 24px;
	background-color: #00C3FF;
	cursor: pointer;
	border: 0;
	border-radius: 24px;
	-webkit-border-radius: 24px;
	-moz-border-radius: 24px;
	-ms-border-radius: 24px;
	-o-border-radius: 24px;
	transition: all .3s ease;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
}
#team .team__wrap .team__item .team__info .social-links__wrap .button__social::before,
#team .team__wrap .team__item .team__info .social-links__wrap .button__social::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	background-color: #fff;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transition: all .3s ease;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
}
#team .team__wrap .team__item .team__info .social-links__wrap .button__social::before {
	width: 12px;
	height: 2px;
}
#team .team__wrap .team__item .team__info .social-links__wrap .button__social::after {
	width: 2px;
	height: 12px;
}
#team .team__wrap .team__item .team__info .social-links__wrap .social__links li {
	margin: 0 10px;
	float: left;
	width: 24px;
	opacity: 0;
	transition: all .8s ease;
	-webkit-transition: all .8s ease;
	-moz-transition: all .8s ease;
	-ms-transition: all .8s ease;
	-o-transition: all .8s ease;
}
#team .team__wrap .team__item .team__info .social-links__wrap .social__links li:first-child {
	margin-left: 0;
}
#team .team__wrap .team__item .team__info .social-links__wrap .social__links li#facebook {
	transition-delay: .6s;
	transform: translateX(130px);
	-webkit-transform: translateX(130px);
	-moz-transform: translateX(130px);
	-ms-transform: translateX(130px);
	-o-transform: translateX(130px);
}
#team .team__wrap .team__item .team__info .social-links__wrap .social__links li#instagram {
	transition-delay: .4s;
	transform: translateX(88px);
	-webkit-transform: translateX(88px);
	-moz-transform: translateX(88px);
	-ms-transform: translateX(88px);
	-o-transform: translateX(88px);
}
#team .team__wrap .team__item .team__info .social-links__wrap .social__links li#pinterest {
	transition-delay: .2s;
	transform: translateX(44px);
	-webkit-transform: translateX(44px);
	-moz-transform: translateX(44px);
	-ms-transform: translateX(44px);
	-o-transform: translateX(44px);
}
#team .team__wrap .team__item.active .team__info .social-links__wrap .social__links li {
	opacity: 1;
}
#team .team__wrap .team__item.active .team__info .social-links__wrap .social__links li#facebook,
#team .team__wrap .team__item.active .team__info .social-links__wrap .social__links li#instagram,
#team .team__wrap .team__item.active .team__info .social-links__wrap .social__links li#pinterest {
	transform: translateX(0);
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	-ms-transform: translateX(0);
	-o-transform: translateX(0);
}
#team .team__wrap .team__item.active .team__info .social-links__wrap .button__social {
	background-color: #fff;
	box-shadow: 5px 8px 30px 2px rgba(42, 67, 113, 0.15);
}
#team .team__wrap .team__item.active .team__info .social-links__wrap .button__social::before,
#team .team__wrap .team__item.active .team__info .social-links__wrap .button__social::after {
	background-color: #00C3FF;
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
}

/* testimonials
-------------------------------------------------------- */
#testimonials {
	padding-top: 120px;
}
#testimonials .main__title {
	margin-bottom: 0;
}
#testimonials .testimonials__wrap {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 70px 0;
	margin-bottom: 80px;
	background: url(../images/testimonials__bg.png) no-repeat right 27% center / contain;
}
#testimonials .testimonials__slider {
	padding: 50px;
	max-width: 640px;
	width: 57%;
	background-color: #fff;
	box-shadow: 5px 8px 30px 2px rgba(42, 67, 113, 0.15);
	border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	-ms-border-radius: 15px;
	-o-border-radius: 15px;
}
#testimonials .testimonials__slider .bx-wrapper {
	position: static;
	margin-bottom: 0;
	box-shadow: none;
	border: 0;
}
#testimonials .testimonials__slider .bx-wrapper .bx-controls {
	position: absolute;
	bottom: 130px;
	left: 0;
}
#testimonials .testimonials__slider .bx-wrapper .bx-controls-direction a {
	position: static;
	margin-top: 0;
	float: left;
	height: 30px;
	width: 30px;
	box-shadow: 5px 8px 30px 2px rgba(42, 67, 113, 0.15);
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	transition: all .3s ease;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
}
#testimonials .testimonials__slider .bx-wrapper .bx-controls-direction a.bx-prev {
	margin-right: 15px;
	background: url(../images/prev__icon.png) no-repeat center / 10px;
	background-color: #fff;
}
#testimonials .testimonials__slider .bx-wrapper .bx-controls-direction a.bx-next {
	background: url(../images/next__icon.png) no-repeat center / 10px;
	background-color: #fff;
}
#testimonials .testimonials__slider .bx-wrapper .bx-controls-direction a:hover {
	box-shadow: none;
	background-color: #00C3FF;
}
#testimonials .testimonials__slider .bx-wrapper .bx-controls-direction a:hover.bx-prev {
	background-image: url(../images/prev__icon-hover.png);
}
#testimonials .testimonials__slider .bx-wrapper .bx-controls-direction a:hover.bx-next {
	background-image: url(../images/next__icon-hover.png);
}
#testimonials .testimonials__slider .testimonials__item img {
	margin: 0 auto 20px;
	max-width: 120px;
	width: 100%;
	box-shadow: 5px 8px 30px 2px rgba(42, 67, 113, 0.15);
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
}
#testimonials .testimonials__slider .testimonials__item p {
	margin-bottom: 30px;
	text-align: center;
	line-height: 1.9;
}
#testimonials .testimonials__slider .testimonials__item .testimonials__info span {
	display: block;
	text-align: center;
}
#testimonials .testimonials__slider .testimonials__item .testimonials__info .name {
	font-size: 20px;
	font-weight: bold;
	text-transform: capitalize;
}
#testimonials .testimonials__slider .testimonials__item .testimonials__info .pos {
	color: #00C3FF;
	font-size: 12px;
	text-transform: uppercase;
}
#testimonials .statistics {
	padding: 60px 90px;
	box-shadow: 5px 8px 30px 2px rgba(42, 67, 113, 0.15);
	background: url(../images/statistics__bg.png) no-repeat bottom center / contain;
	background-color: #0B2747;
	border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	-ms-border-radius: 15px;
	-o-border-radius: 15px;
}
#testimonials .statistics .stats__list {
	overflow: hidden;
	display: flex;
	justify-content: space-between;
}
#testimonials .statistics .stats__list li {
	color: #fff;
	text-align: center;
}
#testimonials .statistics .stats__list li .stats__title {
	position: relative;
	display: inline-block;
	padding: 0 15px;
	margin-bottom: 5px;
	color: #01C2FE;
	text-transform: uppercase;
}
#testimonials .statistics .stats__list li .stats__title::before,
#testimonials .statistics .stats__list li .stats__title::after {
	content: '';
	position: absolute;
	top: 0;
	bottom: 1px;
	margin: auto;
	height: 5px;
	width: 5px;
	background-color: #00C3FF;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}
#testimonials .statistics .stats__list li .stats__title::before {
	left: 0;
}
#testimonials .statistics .stats__list li .stats__title::after {
	right: 0;
}
#testimonials .statistics .stats__list li .stats__number {
	display: block;
	font-size: 88px;
	font-weight: bold;
	line-height: 1;
}

/* contact
-------------------------------------------------------- */
#contact {
	position: relative;
	padding-bottom: 120px;
}
#contact::before {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	bottom: -110px;
	max-height: 565px;
	height: 100%;
	background: url(../images/contact__bg03.png) no-repeat top center / cover;
	z-index: -1;
}
#contact .contact__wrap {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 90px;
	background: url(../images/contact__bg01.png) no-repeat top left / 324px, url(../images/contact__bg02.png) no-repeat bottom right / 172px;
	background-color: #fff;
	box-shadow: 5px 8px 30px 2px rgba(42, 67, 113, 0.15);
	border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	-ms-border-radius: 15px;
	-o-border-radius: 15px;
}
#contact .contact__wrap .contact__title {
	font-size: 35px;
	text-transform: uppercase;
}
#contact .contact__wrap .contact__title span {
	display: block;
	color: #00C3FF;
}
#contact .contact__wrap .button {
	margin-top: 0;
}

/* footer
-------------------------------------------------------- */
footer {
	position: relative;
	padding-top: 120px;
}
footer::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: url(../images/footer__bg.png) no-repeat top center / cover;
	z-index: -1;
}
footer .footer__inner .logo {
	margin: 0 auto 70px;
	max-width: 157px;
	width: 100%;
}
footer .footer__inner .footer__info {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 70px;
}
footer .footer__inner .footer__info .footer__item {
	position: relative;
	width: 33%;
	text-align: center;
}
footer .footer__inner .footer__info .footer__item::before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	width: 1px;
	height: 60px;
	background-color: #ECF3FC;
}
footer .footer__inner .footer__info .footer__item:last-child:before {
	display: none;
}
footer .footer__inner .footer__info .footer__item .big__title {
	display: block;
	padding: 45px 0 20px;
	color: #fff;
	font-size: 18px;
	line-height: 1;
	background-size: 36px;
	background-repeat: no-repeat;
	background-position: top center;
}
footer .footer__inner .footer__info .footer__item#location .big__title {
	background-image: url(../images/location__icon.png);
}
footer .footer__inner .footer__info .footer__item#mail .big__title {
	background-image: url(../images/mail__icon.png);
}
footer .footer__inner .footer__info .footer__item#phone .big__title {
	background-image: url(../images/phone__icon.png);
}
footer .footer__inner .footer__info .footer__item .small__title {
	color: #00C3FF;
	font-weight: 500;
	font-family: 'Red Hat Text', sans-serif;
	text-transform: uppercase;
}
footer .footer__inner .footer__links {
	display: flex;
	justify-content: center;
	margin-bottom: 80px;
}
footer .footer__inner .footer__links li {
	margin: 0 25px;
}
footer .footer__inner .footer__links li:first-child {
	margin-left: 0;
}
footer .footer__inner .footer__links li:last-child {
	margin-right: 0;
}
footer .footer__inner .footer__links li a {
	color: #fff;
	font-weight: 600;
	font-family: 'Red Hat Text', sans-serif;
	text-transform: uppercase;
}
footer .copyright {
	padding: 20px 0;
	color: #fff;
	text-align: center;
	border-top: 1px solid rgba(236, 243, 252, 0.3);;
}



@media screen and ( max-width : 1040px ) {
	/* common
	-------------------------------------------------------- */
	.button {
		max-width: 160px;
	}

	/* header
	-------------------------------------------------------- */
	header .logo {
		max-width: 145px;
	}
	header nav ul li {
		margin: 0 15px;
	}
}

@media screen and ( max-width : 1000px ) {
	/* team
	-------------------------------------------------------- */
	#team .team__wrap {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	#team .team__wrap .team__item {
		width: 48%;
		margin: 0 2.5% 13% 0;
	}
	#team .team__wrap .team__item:nth-child(2n) {
		margin-right: 0;
	}
	#team .team__wrap .team__item:nth-child(2),
	#team .team__wrap .team__item:nth-child(3),
	#team .team__wrap .team__item:nth-child(4) {
		margin-top: 0;
	}
	#team .team__wrap .team__item .team__info {
		bottom: -50px;
		padding: 20px 20px 25px;
	}
	#team .team__wrap .team__item .team__info .team__name {
		font-size: 140%;
	}
	#team .team__wrap .team__item .team__info .team__pos {
		font-size: 80%;
	}
	#team .team__wrap .team__item:last-child {
		margin-bottom: 0;
	}

	/* testimonials
	-------------------------------------------------------- */
	#testimonials .statistics {
		padding: 40px;
	}
	#testimonials .statistics .stats__list li .stats__number {
		font-size: 400%;
	}
}

@media screen and ( max-width : 980px ) {
	/* common
	-------------------------------------------------------- */


	/* header
	-------------------------------------------------------- */
	header .container {
		position: relative;
		display: block;
		padding: 25px 30px;
		width: 100%;
		box-sizing: border-box;
	}
	header .container::after {
		content: '';
		display: block;
		clear: both;
	}
	header .button {
		display: none;
	}
	header .nav__wrap {
		float: right;
	}
	header .logo {
		float: left;
	}
	header .nav__wrap .open__nav,
	header .nav__wrap nav ul li.contact {
		display: block;
	}

	header .nav__wrap .open__nav {
		padding: 9px 0;
		margin-top: 15px;
		border: 0;
		outline: 0;
		cursor: pointer;
		background-color: transparent;
	}
	header .nav__wrap .open__nav span {
		position: relative;
		display: block;
		height: 2px;
		width: 20px;
		background-color: #fff;
		border: 0;
	}
	header .nav__wrap .open__nav span:nth-child(2) {
		width: 20px;
		margin: 8px 0;
	}
	header .nav__wrap .open__nav span::before,
	header .nav__wrap .open__nav span::after {
		content: '';
		position: absolute;
		right: 0;
		height: 2px;
		width: 30px;
		background-color: #fff;
	}
	header .nav__wrap .open__nav span::before {
		top: -9px;
	}
	header .nav__wrap .open__nav span::after {
		bottom: -9px;
	}
	header nav {
		position: absolute;
		top: 95px;
		left: 0;
		right: 0;
		display: none;
		padding: 20px 30px;
		background-color: #f0f6ff;
	}
	header nav ul li {
		margin: 0;
		float: none;
	}
	header nav ul li a {
		padding: 10px 0;
		color: #131415;
		text-align: left;
	}
	header nav ul li a::before {
		bottom: 0;
		height: 2px;
	}

	/* hero
	-------------------------------------------------------- */
	.hero {
		padding-top: 80px;
	}
	.hero .container {
		padding: 60px 0 150px;
	}
	.hero .container .hero__content .hero__title {
		font-size: 300%;
	}
	.hero .container .hero__content .hero_logo {
		max-width: 225px;
	}
	.hero .container .hero__content p {
		font-size: 110%;
	}
}

@media screen and ( max-width : 768px ) {
	/* common
	-------------------------------------------------------- */
	body {
		font-size: 95%;
	}
	section,
	.section__style01 {
		padding: 60px 0;
	}
	.main__title {
		margin-bottom: 15px;
		font-size: 200%;
	}
	.main__title .title__small {
		font-size: 50%;
	}
	.button {
		padding: 10px;
		margin-top: 20px;
		max-width: 150px;
	}

	/* header
	-------------------------------------------------------- */
	header .container {
		padding: 20px;
	}
	header .logo {
		max-width: 125px;
	}
	header .nav__wrap .open__nav {
		margin-top: 10px;
	}
	header .nav__wrap .open__nav span::before,
	header .nav__wrap .open__nav span::after {
		width: 25px;
	}
	header nav {
		top: 80px;
		padding: 20px;
	}
	header nav ul li,
	header nav ul li:first-child {
		margin: 0;
	}
	header nav ul li a {
		padding: 0 0 5px;
		margin-bottom: 15px;
	}
	header nav ul li:last-child a {
		margin-bottom: 0;
	}

	/* hero
	-------------------------------------------------------- */
	.hero .container {
		display: block;
		padding-top: 30px;
	}
	.hero .container .hero__image {
		margin-bottom: 50px;
		width: 100%;
	}
	.hero .container .hero__content .hero__title {
		font-size: 280%;
		text-align: center;
	}
	.hero .container .hero__content .hero_logo {
		margin: 0 auto 30px;
		max-width: 165px;
	}
	.hero .container .hero__content p {
		font-size: 100%;
		text-align: center;
	}
	.hero .container .hero__content .button {
		margin: 20px auto 0;
	}

	/* services
	-------------------------------------------------------- */
	#services {
		padding-bottom: 60px;
	}
	#services .services__list li {
		padding: 35px 20px;
		max-width: none;
		width: 48.5%;
	}
	#services .services__list li:nth-child(2) {
		margin-right: 0;
	}
	#services .services__list li:nth-child(even) {
		margin-top: 25px;
	}
	#services .services__list li .image__wrap {
		margin-bottom: 10px;
		height: 65px;
		width: 65px;
	}
	#services .services__list li .image__wrap img {
		width: 35px;
	}

	/* about
	-------------------------------------------------------- */
	#about .about__wrap {
		display: block;
	}
	#about .about__wrap img {
		margin: 0 auto 20px;
		max-width: none;
		width: 100%;
	}

	/* portfolio
	-------------------------------------------------------- */
	#portfolio {
		padding: 120px 0;
	}
	.filter__buttons {
		margin-bottom: 20px;
	}
	.filter__buttons li {
		margin: 0 7px;
	}
	.filter__buttons li a {
		text-align: center;
	}
	.portfolio__wrap .portfolio__item a .project__info {
		padding: 15px;
	}
	.portfolio__wrap .portfolio__item a .project__info .project__title {
		font-size: 100%;
	}

	/* testimonials
	-------------------------------------------------------- */
	#testimonials {
		padding-top: 90px;
	}
	#testimonials .testimonials__wrap {
		padding: 50px 0;
		margin-bottom: 60px;
	}
	#testimonials .testimonials__slider {
		padding: 40px;
	}
	#testimonials .testimonials__slider .testimonials__item img {
		margin-bottom: 10px;
		max-width: 100px;
	}
	#testimonials .testimonials__slider .testimonials__item p {
		margin-bottom: 20px;
	}
	#testimonials .testimonials__slider .testimonials__item .testimonials__info .name {
		font-size: 125%;
	}
	#testimonials .testimonials__slider .testimonials__item .testimonials__info .pos {
		font-size: 70%;
	}
	#testimonials .statistics .stats__list li .stats__title {
		font-size: 80%;
	}
	#testimonials .statistics .stats__list li .stats__number {
		font-size: 300%;
	}

	/* contact
	-------------------------------------------------------- */
	#contact {
		padding-bottom: 90px;
	}
	#contact .contact__wrap {
		padding: 50px;
		background-size: 200px, 110px;
	}
	#contact .contact__wrap .contact__title {
		margin-right: 20px;
		font-size: 150%;
	}

	/* footer
	-------------------------------------------------------- */
	footer {
		padding-top: 90px;
	}
	footer .footer__inner .logo {
		margin: 0 auto 50px;
		max-width: 140px;
	}
	footer .footer__inner .footer__info {
		display: block;
		margin-bottom: 50px;
	}
	footer .footer__inner .footer__info .footer__item {
		margin-bottom: 20px;
		width: 100%;
	}
	footer .footer__inner .footer__info .footer__item::before {
		display: none;
	}
	footer .footer__inner .footer__info .footer__item .big__title {
		padding: 35px 0 5px;
		font-size: 110%;
		background-size: 30px;
	}
	footer .copyright {
		padding: 15px 0;
	}
	footer .footer__inner .footer__links {
		margin-bottom: 60px;
	}
}

@media screen and ( max-width : 640px ) {
	/* common
	-------------------------------------------------------- */
	section,
	.section__style01 {
		padding: 40px 0;
	}
	.main__title {
		font-size: 180%;
	}

	/* services
	-------------------------------------------------------- */
	#services {
		padding-bottom: 40px;
	}
	#services .services__list li,
	#services .services__list li:nth-child(even) {
		margin: 0 auto 15px;
		float: none;
		width: 100%;
	}

	/* portfolio
	-------------------------------------------------------- */
	#portfolio {
		padding: 100px 0;
	}
	#portfolio::before,
	#portfolio::after {
		height: 45px;
	}
	.portfolio__wrap .portfolio__item,
	.portfolio__wrap .portfolio__item:nth-child(3n) {
		margin: 0 2.5% 2.5% 0;
		float: none;
		max-width: none;
		width: 48.7%;
	}
	.portfolio__wrap .portfolio__item:nth-child(2n) {
		margin-right: 0;
	}

	/* team
	-------------------------------------------------------- */
	#team .team__wrap .team__item {
		margin: 0 auto 80px;
		width: 100%;
	}
	#team .team__wrap .team__item .team__info {
		bottom: -50px;
		padding: 15px;
	}
	#team .team__wrap .team__item .team__info .team__name {
		font-size: 120%;
	}
	#team .team__wrap .team__item .team__info .team__pos {
		font-size: 70%;
	}

	/* testimonials
	-------------------------------------------------------- */
	#testimonials {
		padding-top: 70px;
	}
	#testimonials .main__title {
		margin-bottom: 15px;
		text-align: center;
	}
	#testimonials .main__title br {
		display: none;
	}
	#testimonials .testimonials__wrap {
		display: block;
		padding: 40px 0;
		margin-bottom: 40px;
	}
	#testimonials .testimonials__slider {
		padding: 30px 20px;
		max-width: none;
		width: 100%;
	}
	#testimonials .testimonials__slider .bx-wrapper .bx-controls {
		right: 0;
		bottom: 25px;
		display: flex;
		justify-content: center;
		margin: auto;
	}
	#testimonials .statistics {
		padding: 20px;
	}
	#testimonials .statistics .stats__list {
		flex-wrap: wrap;
	}
	#testimonials .statistics .stats__list li {
		margin-bottom: 20px;
		width: 50%;
	}
	#testimonials .statistics .stats__list li:nth-child(3),
	#testimonials .statistics .stats__list li:last-child {
		margin-bottom: 0;
	}
	#testimonials .statistics .stats__list li .stats__title {
		padding: 0 10px;
	}
	#testimonials .statistics .stats__list li .stats__title::before,
	#testimonials .statistics .stats__list li .stats__title::after {
		height: 3px;
		width: 3px;
	}

	/* contact
	-------------------------------------------------------- */
	#contact {
		padding-bottom: 70px;
	}
	#contact .contact__wrap {
		display: block;
		padding: 40px;
	}
	#contact .contact__wrap .contact__title {
		margin: 0 auto 15px;
		text-align: center;
	}
	#contact .contact__wrap .button {
		margin: 0 auto;
	}

	/* footer
	-------------------------------------------------------- */
	footer {
		padding-top: 70px;
	}
	footer .footer__inner .logo {
		max-width: 130px;
	}
	footer .footer__inner .footer__links {
		display: block;
		margin-bottom: 50px;
		text-align: center;
	}
	footer .footer__inner .footer__links li {
		margin: 0 auto 10px;
	}
}


@media screen and ( max-width : 480px ) {
	/* portfolio
	-------------------------------------------------------- */
	.portfolio__wrap .portfolio__item,
	.portfolio__wrap .portfolio__item:nth-child(3n) {
		margin: 0 auto 20px;
		width: 100%;
	}
}